extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Mohamed Adam

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //-  Elevator pitch.
        .portfolio-bio
          p
            | i am a fullstack javaScript student, i'm passionate about programming and software applications.
            | i have been working on the last couple of years to change career as a software developer.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li nodejs
          li pug
          li vanilla js
          li react 
          li html
          li css
          li bootsrap
        h6 Contact Info

        
        ul
          li 64-204-1394131
          li somprogrammer@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/mo-adn-75863314a/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/aabishafi/' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/adammoha21' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  